#map{
margin:auto;
width:81.1%;
float:right;
height: 93.6%;
}

.param{
	width:20%;
	float:left;
}

.list{
	float:right;
	width:79%;
	
}

.filter {
    margin: 0;
    border: 1px solid #CCC;
    padding: 0px 10px;
    border-radius: 3px;
}

.stars{
	padding:2px;
}

.sidebar{
    position: absolute;
    top: 50px;
    bottom: 0;
    z-index: 1;
    width: 18.9%;
    background: #fff;

}

.btn-sidebar{
	 margin-top:5px;
}

.panel-sidebar{
	margin:10px;
	margin-top:15px;
}

.float-right{
	float:right;
}

.float-left{
	float:left;
}

.price{
	font-size: 28px;
	font-weight: bold;
	color: #B30202;
	
}

.cheep {
  background-color: #337ab7;
}

.cheep[href]:hover,
.cheep[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}

#energy{ 
color:#303f9f; 
} 
body{ 
background-color: #a4c2d9; 
background-image: linear-gradient(transparent 10%,#d2e1ec 80%); 

} 
#house-on-hills{ 

margin-top: -120px; 
margin-left:10%;
margin-right:10%;
position: fixed; 
bottom: 0; 
z-index:-5; 
}