.map{
margin:auto;
width:68%;
}

.param{
	width:20%;
	float:left;
}

.list{
	float:right;
	width:79%;
	
}

.filter {
    margin: 0;
    border: 1px solid #CCC;
    padding: 0px 10px;
    border-radius: 3px;
}

.stars{
	padding:2px;
}

.sidebar{
    position: absolute;
    top: 50px;
    bottom: 0;
    z-index: 1;
    width: 302px;
    background: #fff;
	display:none;
}

.panel-sidebar{
	margin:10px;
	margin-top:15px;
}